@model WebApplication2.Models.User.UserModel
@{
    ViewData["Title"] = "Login";
}

<header>
     <link rel="stylesheet" type="text/css" href="~/css/login.css">
</header>


<body>
<div class="login">
    <h2>LOGIN</h2>
    <form asp-action="Login" asp-controller="Login">
        <div class="mydiv">
            <input asp-for="Name" class="form-control" placeholder="NAME">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mydiv">
            <input asp-for="Surname" class="form-control"  placeholder="SURNAME" required="">
            <span asp-validation-for="Surname" class="text-danger"></span>

        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" value="SUBMIT" class ="Submit"/>
        </a>
    </form>
</div>
</body>


