@using WebApplication2.Models.User
@model WebApplication2.Models.User.UserModel

@using static WebApplication2.Models.User.IUserRepository
@using System.Security.Principal

 <!--CUSTOM CSS STYLE -->
<link rel="stylesheet" type="text/css" href="~/css/calculator.css">

<div class="text-center">
    <br><br>
    <img src="~/img/Calculator.jpg" alt="user" width=650px height=150px>
    <br><br>
</div>

<!DOCTYPE html>
<html>
<body>
<div class="hearts">
    <div class="heart"></div>
    <div class="heart"></div>
    <div class="heart"></div>
    <div class="heart"></div>
</div>

<div class="container calculator">
    <div class="content text-center align-content-center">
        <img src="icon.png" alt="">
        <div class="inputarea">
            <input type="text" placeholder="Enter your Name" id="NameOne" onfocus="this.value = ''">
            <input type="text" placeholder="Enter His/Her Name" id="NameTwo" onfocus="this.value = ''">
        </div>
        <br></br>
        <a href="#" onclick="love()" type="submit" class="ConfirmCalculate" >Calculate</a>
        <br></br>
        <p id="print">Your relationship result here</p>
        <p id="statement"></p>
    </div>
</div>

<div class="hearts1">
    <div class="heart1"></div>
    <div class="heart1"></div>
    <div class="heart1"></div>
    <div class="heart1"></div>
    <div class="heart1"></div>
</div>
</body>
</html>

<script>
        function love(){
        var name1 = document.getElementById("NameOne").value;
        var name2 = document.getElementById("NameTwo").value;
        if(name1.length<=2){
            alert("Enter at least 3 character");
        }
        if(name2.length<=2){
            alert("Enter at least 3 character");
        }
        else{
            var random = Math.floor(Math.random()*100);
            document.getElementById("print").innerHTML = random + "%" + " of love";
        }
        if(random<=0 || random<=10){
             document.getElementById("statement").innerHTML = "Bad Relationship";
        }
        else if(random<=10 || random<=50){
            document.getElementById("statement").innerHTML = "Good Relationship";
        }
        else if(random<=51 || random<=100){
            document.getElementById("statement").innerHTML = "Lovely Relationship";
        }
    }
</script>