@model Microsoft.EntityFrameworkCore.DbSet<UserModel>
@using WebApplication2.Models.User
@using WebApplication2.Models.User
@using static WebApplication2.Models.User.IUserRepository
@using System.Security.Principal

<!--CUSTOM CSS STYLE -->
<link rel="stylesheet" type="text/css" href="~/css/calculator.css">

<div class="text-center">
    <br><br>
    <img src="~/img/Calculator.jpg" alt="user" width=650px height=150px>
    <br><br>
</div>

<!DOCTYPE html>
<html>
<body>
<div class="hearts">
    <div class="heart"></div>
    <div class="heart"></div>
    <div class="heart"></div>
    <div class="heart"></div>
</div>

<div class="container calculator">
    <div class="content text-center align-content-center">  
        
        <img src="icon.png" alt="">
        <div class="inputarea">
            @* <input type="text" placeholder="Enter your Name" id="NameOne" onfocus="this.value = ''"> *@
            <select type="text"  id="NameOne" class="form-control"  onfocus="this.value = ''">
                 <option selected="">Select Name </option>
                @foreach (var user in Model)
                {
                    <option value="">@Html.DisplayFor(modelItem => user.Name)
                        ★ <small class="horoname" id="HonorOne" onfocus="this.value = ''">@IUserRepository.GetHoroName(user.YearOfBirth)</small></option>
                }
            </select>
            @* <input type="text" placeholder="Enter His/Her Name" id="NameTwo" onfocus="this.value = ''"> *@
            <select type="text"  id="NameTwo" class="form-control"  onfocus="this.value = ''">
                <option selected="">Select Name </option>
                @foreach (var user in Model)
                {
                    <option value="">@Html.DisplayFor(modelItem => user.Name)
                        ★ <small class="horoname" id="HonorTwo">@IUserRepository.GetHoroName(user.YearOfBirth)</small></option>
                }
            </select>
        </div>
        <br></br>
        <a href="#" onclick="love()" type="submit" class="ConfirmCalculate" >Calculate</a>
        <br></br>
        <p id="print">Your relationship result here</p>
        <p id="statement"></p> 
        <a href="#" onclick="horo()" type="submit" class="Check">Check</a>
        <br></br>
        
        <p id="print1">result here</p>
        <p id="statement1"></p> 
    </div>
    
</div>

<div class="hearts1">
    <div class="heart1"></div>
    <div class="heart1"></div>
    <div class="heart1"></div>
    <div class="heart1"></div>
    <div class="heart1"></div>
</div>
</body>
</html>
<style>
.form-control{
    width: 200px;
    height: 45px;
    margin: 5px;
    color: white;
    border: 2px solid #d7385c;
    font-size: 13px;
    text-align: center;
}


</style>
<script>
        function love(){
        var random = Math.floor(Math.random()*100);
        console.log("Hello World!");
        document.getElementById("print").innerHTML = random + "%" + " of love";
        if(random<=0 || random<=10){
             // document.getElementById("statement").innerHTML = "Bad Relationship";
        }
        else if(random<=10 || random<=50){
         // document.getElementById("statement").innerHTML = "Good Relationship";
        }
        else if(random<=51 || random<=100){
            // document.getElementById("statement").innerHTML = "Lovely Relationship";
        }

    }
    
    function horo()
    {
          const zodiac1 = document.getElementById("HonorOne");
          const zodiac2 = document.getElementById("HonorTwo");
          
          // document.getElementById("print1").innerHTML = "suderinamumas";
          document.getElementById("print1").innerHTML = zodiac1 + "+" + zodiac2 + "suderinamumas";
          var dict = { key1 : "Aries", 
                            key2 : "Taurus", 
                            key3 : "Gemini",
                            key4 : "Cancer", 
                            key5 : "Leo", 
                            key6 : "Virgo", 
                            key7 : "Libra", 
                            key8 : "Scorpio", 
                            key9 : "Sagittarius",
                            key10 : "Capricornus", 
                            key11 : "Aquarius", 
                            key12 : "Pisces"
                          };
                var value1 = dict[key6];
                var value2 = dict[key6];

        // document.getElementById("statement1").innerHTML ="virgo+virgo";    
        document.getElementById("statement1").innerHTML = value1  + "+" + value2;  
        
         if(value1 === zodiac1 && value2 === zodiac2){
                     document.getElementById("statement1").innerHTML = "virgo and virgo...";
         }
    }
    
</script>