<header>
     <link rel="stylesheet" type="text/css" href="~/css/login.css">
</header>


<body>
<div class="login">
    <h2>LOGIN</h2>
    <form>
        <div class="mydiv">
            <input type="text" name="" required="">
            <label>USERNAME</label>
        </div>
        <div class="mydiv">
            <input type="password" name="" required="">
            <label>PASSWORD</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
    </form>
</div>
</body>