@* @page *@
@using WebApplication2.Models.User
@model WebApplication2.Models.User.UserModel


<div class="text-center">
	<img src="~/img/profilee.jpg" alt="user" width=650px height=150px>
	<br><br>
</div>

<body>
<div class="row">
	@* third table *@
	<div class="col-xl-0 col-lg-0 col-md-6 col-sm-6 col-6">
		<div class ="card3 h-100">
			<div class="row gutters">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
					<h4 class="text-trip-1">CAR DETAILS</h4>
				</div>
				<br><br>
				<form asp-controller="Home" asp-action="AddUser" method="post">
					<br><br>
					<div class="col-sm-10">
						<div class="form-group-profile">
							<tr>
								<label for="Name">Car Model</label>
								<td><input asp-for=Name type="text" class="form-control" id="Model" placeholder="Enter car model"/></td>
								<input asp-for="Id" type="text" class="unseen" id="id" />
							</tr>
						</div>
					</div>
					<br><br>
					<div class="col-sm-10">
						<div class="form-group-profile">
							<tr>
								<label for="Surname">Registration Number</label>
								<td><input asp-for=Surname type="text" class="form-control" id="RegistrationNumber" placeholder="Enter car registration number"/></td>
							</tr>
						</div>
					</div>
					<br><br>
					<div class="col-sm-10">
						<div class="form-group-profile">
							<label for="eMail">Fuel Consumption</label>
							<input asp-for=Email type="email" class="form-control" id="Consumption" placeholder="Enter Fuel Consumption">
						</div>
					</div>
					<br><br>
					<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="user-confirm">
								<button type="submit" id="submit" name="submit" class="btn btn-user">Update</button>
							</div>
						</div>
						<img src="~/img/greencar.jpg" alt="user" width=100px height=350px>
					</div>
				</form>
			</div>
		</div>
	</div>

	@* second table  *@
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
		<div class ="card2 h-100">
			<div class ="card1-body">
				<div class="row gutters">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-22">
						<h4 class="text-trip-1">PERSONAL DETAILS</h4>
					</div>
					<br><br>
					<form asp-controller="Home" asp-action="AddUser" method="post">
						<div class="panel-body">
							<div class="form-group-profile">
								<label class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"></label>
								<div class="col-sm-10">
									<label asp-for=Type class="control-label"></label>
									<select asp-for=Type asp-items="Html.GetEnumSelectList<UserType>()" class="form-control"></select>
									<span asp-validation-for=Type class="text-danger"></span>
								</div>
							</div>
						</div>
						<br><br>
						<div class="col-sm-10">
							<div class="form-group-profile">
								<tr>
									<label for="Name">Name</label>
									<td><input asp-for=Name type="text" class="form-control" id="Name" placeholder="Enter name"/></td>
									<input asp-for="Id" type="text" class="unseen" id="id" />
								</tr>
							</div>
						</div>
						<br><br>
						<div class="col-sm-10">
							<div class="form-group-profile">
								<tr>
									<label for="Surname">Surname</label>
									<td><input asp-for=Surname type="text" class="form-control" id="Surname" placeholder="Enter surname"/></td>
								</tr>
							</div>
						</div>
						<br><br>
						<div class="col-sm-10">
							<div class="form-group-profile">
								<tr>
									<label for="YearOfBirth">Year of Birth</label>
									<td><input asp-for=YearOfBirth type="date" class="form-control" id="YearOfBirth" placeholder="Enter Year of Birth:"/></td>
								</tr>
							</div>
						</div>
						<br><br>
						<div class="col-sm-10">
							<div class="form-group-profile">
								<label for="eMail">Email</label>
								<input asp-for=Email type="email" class="form-control" id="eMail" placeholder="Enter email ID">
							</div>
						</div>
						<br><br>
						<div class="col-sm-10">
							<div class="form-group-profile">
								<label for="phone">Phone</label>
								<input asp-for=PhoneNumber type="text" class="form-control" id="phone" placeholder="Enter phone number">
								@ViewBag.Message
							</div>
						</div>
						<br><br>
						<div class="col-sm-10">
							<div class="form-group-profile">
								<label for="address">Address</label>
								<input asp-for=Address type="text" class="form-control" id="address" placeholder="Enter address">
							</div>
						</div>
						<br><br>
						<div class="col-sm-10">
							<div class="form-group-profile">
								<label for="address">Description</label>
								<input asp-for=Description type="text" class="form-control" id="Description" placeholder="Enter description">
							</div>
						</div>
						<br><br>
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="user-confirm">
									<button type="submit" id="submit" name="submit" class="btn btn-user">Update</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

