@* @page *@
@model WebApplication2.Models.Travel.FormInput

@{
	ViewData["Title"] = "Home Page";
	ViewData["API_KEY"] = "AIzaSyBeiiVAS5Jmf-OW_KsR5jnzgA833PE5nng";
}

<div class="text-center">
	<img src="~/img/Trip.jpg" alt="user" width=650px height=150px>
	<br><br>
</div>

<script
	src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBeiiVAS5Jmf-OW_KsR5jnzgA833PE5nng&libraries=places"></script>

<div class="grid-container">

	<div class="item5">
		<div id="googleMapCreate">
		</div>
		<br></br>
		<div class="wrap">
			<button onclick="calcRouteMapCreate()" type="button" id="submit" name="submit" class="travel">Submit</button>
			<button onclick="userLocationMapCreate()" type="button" id="userLocation" name="userLocation" class="travel">Use your location</button>
		</div>
	
		<div id="output">
		</div>
	</div>
	
	@* second table *@
	<div class="item6">
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
			<div class="card20 h-100">
				<div class="card110-body">
					<div class="row gutters">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<br><br>
							<h3 class="text-trip">TRIP DETAILS</h3>
						</div>
						<br><br>
						<form asp-controller="Home" asp-action="AddTravel" method="post" onchange="setTimeout(() => { prepareForSave(); }, 500)">
							<div class="panel-body-trip">
							</div>
							<br><br>
							<div class="col-sm-10-trip">
								<div class="form-group">
									<tr>
										<label for="Origin">Origin</label>
										<td><input type="text" class="form-control" id="Origin"
										           placeholder="Enter Origin" required/></td>
										<input asp-for="Origin" type="hidden" class="form-control" id="OriginSave">
									</tr>
								</div>
							</div>
							<br><br>
							<div class="col-sm-10-trip">
								<div class="form-group">
									<tr>
										<label for="Destination">Destination</label>
										<td><input type="text" class="form-control" id="Destination"
										           placeholder="Enter Destination" required=""/></td>
										<input asp-for="Destination" type="hidden" class="form-control" id="DestinationSave">
									</tr>
								</div>
							</div>
							<br><br>
							<div class="col-sm-10-trip">
								<div class="form-group row">
									<tr>
										
										<label for="Stopovers">Stopovers
											
											<button type="button" onclick="remove()" class="addStopovers">remove</button>
											<button type="button" onclick="add()" class="addStopovers">add</button>
										</label>
										<div class="col-sm-10-trip">
											<td>
												<input type="text" class="form-control" id="Stopover1"
												       placeholder="Enter Stopover"/></td>
											<input type="hidden" class="form-control" id="HiddenStopover1" value="">
											<div id="new_chq"></div>
											<input type="hidden" value="1" id="total_chq">
											<input asp-for="Stopovers" type="hidden" id="Stopovers">
											<input asp-for="Bearings" type="hidden" id="Bearings">
											<input asp-for="Distance" type="hidden" id="Distance">
										</div>
									</tr>
								</div>
							</div>


							<br><br>
							<div class="col-sm-10-trip">
								<div class="form-group">
									<label for="FreeSeats">Leave Time</label>
									<input asp-for="Time" type="Time"  id="LeaveTime" required="">
								</div>
							</div>
							<br><br>
							<div class="col-sm-10-trip">
								<div class="form-group">
									<label for="FreeSeats">FreeSeats</label>
									<select asp-for="FreeSeats" type="int" class="form-control" id="FreeSeats">
										<option selected="">Select FreeSeats </option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									</select>
									
								</div>
							</div>
							<br><br>
							<div class="col-sm-10-trip">
								<div class="form-group">
									<label for="Description">Description</label>
									<input asp-for="Description" type="text" class="form-control" id="Description"
									       placeholder="Enter Description">
								</div>
							</div>
							<br><br>
							<div class="row gutters">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="trip-confirm">
										<button type="submit" id="submit" name="submit" class="btn trip-confirm">Create
											Trip</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
			function add(){
              var new_chq_no = parseInt($('#total_chq').val())+1;
              var new_input="<input type='text' class='form-control' id='Stopover"+new_chq_no+"'placeholder='Enter Stopover'>";
              var new_hidden_input="<input type='hidden' class='form-control' id='HiddenStopover"+new_chq_no+"'value=''>";
              $('#new_chq').append(new_input);
              $('#new_chq').append(new_hidden_input);
              $('#total_chq').val(new_chq_no);
			  addAutocompleteStopover();
            }
            function remove(){
              var last_chq_no = $('#total_chq').val();
              if(last_chq_no>1){
                $('#Stopover'+last_chq_no).remove();
                $('#HiddenStopover'+last_chq_no).remove();
                $('#total_chq').val(last_chq_no-1);
				removeAutocompleteStopover();
              }
            }
</script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        loadGoogleMapCreate();
    }, false);
</script>              									