html {
  font-size: 14px;
  font-style: italic;
  font-family: "Arial Black", serif;

}

.logo {
  position: relative;
  top: 0;
  left: 0;
}

.column {
  float: left;
  padding: 20px;
}



.middle {
  width: 25%;
}

.form-control1{
  height: 30px;
  width: 660px;
  background-color: #E6EFFF;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
}

.footer {
  position: fixed;
  height: 20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

body {
  margin-top: 0px;
  color: #bcd0f7;
  background: #1A233A;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.car-settings .car-driver-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}

.car-settings .car-driver-profile .car-avatar {
  margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

.car-settings .car-driver-profile .car-avatar img {
  width: 90px;
  height: 90px;
}

.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
}

.account-settings .about {
  margin: 1rem 0 0 0;
  font-size: 0.8rem;
  text-align: center;
}

.card1 {
  width: 300px;
  background: #272E48;
  top: 0;
  left: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  border: 0;
  margin-bottom: 1rem;
  alignment: left;
}

.card1 .card1-body {
  top: 100px;
  height: 700px;
  /*height: 800px;*/
}
.card2 .card2-body {
  height: 800px;
}

.card3 .card3-body {
  height: 800px;
}

.card2 {
  width: 635px;
  background: #272E48;
  top: 0;
  left: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  border: 0;
  margin-bottom: 1rem;
  alignment: left;
}

.card3 {
  width: 300px;
  background: #272E48;
  position: relative;
  top: 0;
  left: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 15px;
  border: 0;
  margin-bottom: 1rem;
  alignment: left;

}

.col-form-label {
  display: inline-block;
  width: 180px;
  border: 1px solid #596280;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #1A233A;
  color: #bcd0f7;
  position: relative;
}

.form-control {
  border: 1px solid #596280;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #1A233A;
  color: #bcd0f7;
  position: relative;
}

#googleMap {
  height: 300px;
  width: 520px;
}

#output {
  text-align: center;
  margin: 20px auto;
  height: 300px;
  width: 520px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
  grid-template-rows: minmax(1em, auto) 0fr auto minmax(1em, auto) repeat(0,1fr);
  
}

.item2 {
  grid-column: 1/6;
  grid-row: 1 / 4;
}

.item3 {
  grid-column: 6/8;
}

.item4 {
  grid-column: 1/8;
  grid-row: 2 / 4;
}


.border-bottom {
  color: #bcd0f7;
}

.card-1 {
  border-color: #bcd0f7;
  border-radius: 30px;
  width: 120%;
  background-color: #1A233A;
}

.icons i {
  color: #FFF7D6;
  margin-left: 20px;
}

.border-bottom {
  background-color: #1A233A;
}

.ml-2 {
  color: #F6B3D8;
}

.container-fluid{
  background-color: white;
  font-style: italic;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

/*button*/
.travel{
  --glow-color: rgb(219, 219, 220);
  --glow-spread-color: rgba(136, 123, 255, 0.78);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(61, 71, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 10px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
  0 0 4em 1em var(--glow-spread-color),
  inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}
.travel::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.travel:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
  0 0 4em 2em var(--glow-spread-color),
  inset 0 0 .75em .25em var(--glow-color);
}


/*button*/
.Confirm{
  /*background-color: #F6B3D8;*/
  /*  border-color: #bcd0f7;*/
  /*  border-width: 2px;*/
  --glow-color: rgb(159, 206, 109);
  --glow-spread-color: rgba(136, 123, 255, 0.78);
  --enhanced-glow-color: rgb(219, 219, 220);
  --btn-color: rgb(61, 71, 136);
  border: .10em solid var(--glow-color);
  padding: 1em 8em;
  color: var(--enhanced-glow-color);
  font-size: 11px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .100em var( --enhanced-glow-color),
  0 0 5em 1em var(--glow-spread-color),
  inset 0 0 .100em .100em var( --enhanced-glow-color);
  position: relative;
  top:15px;
}

.Confirm:hover {
  color: var(--btn-color);
  background-color: var(--enhanced-glow-color);
  box-shadow: 0 0 1em .2em var(--enhanced-glow-color),
  0 0 4em 2em var(--glow-spread-color),
  inset 0 0 .7em .2em var(--enhanced-glow-color);
}

/*Confirm-button*/

.modal-confirm {
  color: #3535be;
  width: 325px;
  font-size: 14px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}
.modal-confirm .icon-box {
  color: #3535be;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  z-index: 9;
  background: #86cb3d;
  padding: 15px;
  text-align: left;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 1px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #86cb3d;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
  background: #3535be;
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
