@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <body style="background-color:#b6d4fe">
    <h1  class="display-4">Welcome! </h1>
   
   <!--<img src="img/logo.jpg" alt="logo" width="250" height="250" /-->
    
    </body>
</div>

<div class="text-left">

    <form>
        <label for="wantToGo">Where would you want to go?</label><br>
        <input type="text" id="wantToGo" name="wantToGo" placeholder="City name:" required><br>
        <label for="comingFrom">Where are you coming from?</label><br>
        <input type="text" id="comingFrom" name="comingFrom" placeholder="City name:" required><br><br>
        <input type="submit" value="Submit" name="button" >
    </form>
</div>
